extends layout

block content
		.container
				.list-title
						h3.
								Simple To Do List
				input(type='text', class='form-control inputToDo', placeholder='Enter a To Do...')
				br
				button#btnAddToDo Add ToDo
				#checkList
						.activeToDos
								.checkbox
										
						.completedToDos
								.checkbox
										