extends layout

block content
		.container
				.list-title
						h3.
								Simple To Do List
				input(type='text', class='form-control inputToDo', placeholder='Enter a To Do...')
				#checkList
						.activeToDos
								.checkbox
						h5. Completed ToDo's
						.completedToDos
								.checkbox
										